# execute and library file
build/
__pycache__

# configuration file
*.cfg

# others
.vscode

.cache/
machine-learning-class-fall-2025-assignment-2-q-5/
submission.csv
Detecting individual decision-making style_ Exploring behavioral stylometry in chess/
checkpoints/*
runs*